@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: holenVintage;
  src: url(/HolenVintageRegular-vmzq9.otf);
}

body {
  /* margin: 0; */
  padding: 0;
  height: fit-content;
  @apply bg-gray-900 font-exo;
}
